.git/
_upstream/
roms/
tools/
docs/last_build.log

src/fpga/db/
src/fpga/incremental_db/
src/fpga/output_files/
src/fpga/*.qws
src/fpga/*.rpt
src/fpga/*.summary
src/fpga/*.sld
src/fpga/*.sof
src/fpga/*.done
src/fpga/*.jdi
src/fpga/*.pin
src/fpga/*.pof
src/fpga/c5_pin_model_dump.txt
src/fpga/apf/build_id.mif

*.bak
.DS_Store
*.rom
*.sys
*.zip
._*
